# Kicad backup files
*.bak
*.brd-bak
*.bck
*.lst
*.net
*.dsn
*.ses
*.kicad_pcb-bak

# Kicad documentation files (unused)
*.dcm

#vim local files
*.swp
Session.vim

# Dirs of Gerber(and other) outputs 
*/out/*

# Local datasheets directory(likely proprietary)
*/datasheets/*
